config mqtt_subscriber mqtt_subscriber_sct
    option host '192.168.1.1'
    option port 8883
    option cafile_path '/etc/ssl/certs/ca.cert.pem'
    option cert_path '/etc/ssl/certs/192.168.1.1.cert.pem'
    option key_path '/etc/ssl/certs/192.168.1.1.key.pem'
    option username '-'
    option password '-'

config topic
    option topic_name '/home/outside/thermometer'
    option qos 0

config topic
    option topic_name '/home/inside/bedroom/thermometer'
    option qos 0

config topic
    option topic_name '/home/inside/bedroom/motion_sensor'
    option qos 0

config event
    option 'topic' '/home/outside/thermometer'
    option 'parameterName' 'temp'
    option 'valueType' 'decimal'
    option 'comparisonType' 3
    option 'comparisonValue' 20.0
    option 'recipients' 'anotheraccxxx398@gmail.com'

config event
    option 'topic' '/home/inside/bedroom/thermometer'
    option 'parameterName' 'temp'
    option 'valueType' 'decimal'
    option 'comparisonType' 2
    option 'comparisonValue' 25.0
    option 'recipients' 'anotheraccxxx398@gmail.com,gerdaliukas98@gmail.com,gerzem1@ktu.lt'

config event
    option 'topic' '/home/inside/bedroom/motion_sensor'
    option 'parameterName' 'motion_status'
    option 'valueType' 'alphanumeric'
    option 'comparisonType' 5
    option 'comparisonValue' 'detected'
    option 'recipients' 'gerdaliukas98@gmail.com,gerzem1@ktu.lt'
