config mqtt_subscriber mqtt_subscriber_sct
    option host '192.168.1.1'
    option port 8883
    option cafile_path '/etc/ssl/certs/ca.cert.pem'
    option cert_path '/etc/ssl/certs/192.168.1.1.cert.pem'
    option key_path '/etc/ssl/certs/192.168.1.1.key.pem'
    option username '-'
    option password '-'