config mqtt_subscriber mqtt_subscriber_sct
    option host '192.168.1.1'
    option port 8883
    option cafile_path '/etc/ssl/certs/ca.cert.pem'
    option cert_path '/etc/ssl/certs/192.168.1.1.cert.pem'
    option key_path '/etc/ssl/certs/192.168.1.1.key.pem'
    option username '-'
    option password '-'

config topic
    option topic_name '/home/outside/thermometer'
    option qos 0

config topic
    option topic_name '/home/inside/bedroom/thermometer'
    option qos 0

config topic
    option topic_name '/home/inside/bedroom/motion_sensor'
    option qos 0

config event
   option 'topic' '/home/outside/thermometer'
   option 'parameterName' 'temp'
   option 'valueType' 'double'
   option 'comparisonType' '<='
   option 'comparisonValue' 20

config event
   option 'topic' '/home/inside/bedroom/thermometer'
   option 'parameterName' 'temp'
   option 'valueType' 'double'
   option 'comparisonType' '>'
   option 'comparisonValue' 25

config event
   option 'topic' '/home/inside/bedroom/motion_sensor'
   option 'parameterName' 'motion_detected'
   option 'valueType' 'bool'
   option 'comparisonType' '=='
   option 'comparisonValue' 1
